.App {
  text-align: center;
}
.category-picker {
  margin-top: 100px;

}
.picker-button {
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  padding: 7px;
  padding-right: 15px;
  padding-left: 15px;
  background-color:rgb(231, 38, 80);
  color: white;
  font-size: 15px;
  margin: 10px;
  cursor: pointer;
}

.pictures-menu {
  padding: 50px;
}

.menu-title {
  font-size: 25px;
  margin-bottom: 30px;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.menu-pictures {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.picture {
  height: auto; 
  width: auto; 
  max-width: 320px; 
  max-height: 220px;
  margin-bottom: 40px;
}